APP_NAME=Motorcare
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=motorcare
DB_USERNAME=root
DB_PASSWORD=

# JWT / Auth
JWT_SECRET=

# FCM (Firebase Cloud Messaging)
FCM_CREDENTIALS_PATH=
FCM_PROJECT_ID=
