* text=auto
*.txt text
*.php text
*.js text
*.css text
*.md text
*.json text

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
